<form action="{% url 'catalogue:add_bricks' %}" method="post">
{% csrf_token %}

<h2>Bricks matching {{ color.name }} color</h2>
{% for brick in bricks %} 
    <li>
        {{ brick.reference }}
        <input type="number" name="quantity{{ brick.id }}" id="quantityquantity{{ brick.id }}">
    </li>
{% endfor %}

<input type="submit" value="add">
</form>