{% if colors_list %}
    <ul>
    {% for color in colors_list %}
        <li>
            <a href="{% url 'catalogue:colors' color.id %}">{{ color.name }}</a>

        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No colors available</p>
{% endif %}